/*@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wdth,wght@0,6..12,80,200..1000;1,6..12,100,200..1000&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/* css resets */

body, html { 
    overflow-x:hidden; 
}

html, body, main, section, article, h1, h2, h3, p, img {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-rendering: optimizeLegibility;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a:visited {
    color: #14172f;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* styling */

/* generic elements */

body {
  font-family:  "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #14172f;
  line-height: 1.5;
  font-variation-settings:
    "wdth" 80,
    "YTLC" 500;
}

main {
  max-width: 100%;
  margin: 0 auto;
}

header {
  height: 8rem;
  display: flex;
  align-items: center;
  background-color: #ffdece;
  width: 100%;
  padding-left: 5%;
}


h1 {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.015rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 0.5rem 0rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  margin: 0.5rem 0rem;
}

li, p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

  article {
    display:flex;
    flex-wrap:wrap;
    margin: 3em auto;
    }


section {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    row-gap: 1.5rem;
    max-width: 90%;
    justify-content: center;
}

hr {
    padding: 1rem;
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}


/* content sections */

.background{
  width:100%;
}


.light{
  background-color: #ffd7ce;
}

.mid{
    background-color: #f0f0f0;
}

.dark{
  background-color: #14172f;
}



.subdued{
    opacity: 60%;
}

.smallcaps{
    font-family: "Urbanist", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 2rem;
}

.view{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
    justify-content: center;
}


.intro{
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 90%;
    justify-content: center;
    align-items: start;
/*
          background-image: url("img/Frame.png");
    background-position: center; 
  background-repeat: no-repeat;
  background-size: 30%; 
*/
}


.intro-more{
    display: flex;
    padding-bottom: 2rem;
    flex-direction: column;
    row-gap: 1.5rem;
    max-width: 90%;
    justify-content: center;
    align-items: start;
}

.socials{
    margin-top: 2rem;
}

.socials li{
  display: inline;
  font-size: 0.8rem;
  font-weight: 600;
  color: #14172f;
  margin-right: 1rem;
}

.socials a, a:visited{
  color: #14172f;
}

.experience {
  display: flex;
  flex-direction: column;
  row-gap: 0rem;
  margin: 4rem auto;
    max-width: 90%;
}

article img{
    max-width: 100%;
}

article .description{
  max-width: 100%;
  line-height: 1.8;
  margin: 1rem 0rem;
}

.description p{
    margin-bottom: 1rem;
}

#writing {
  display: flex;
  padding: 6rem 0rem;
  flex-direction: column;
  row-gap: 1.5rem;
  max-width: 90%;
  justify-content: center;
}

#contact {
  display: flex;
  padding: 4rem 0rem;
  flex-direction: column;
  row-gap: 2.5rem;
  max-width: 90%;
  justify-content: center;
  color: #fff;
}

#contact li, a{
    color: #acacac;
    display: inline;
    font-size: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}


.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


.icon{
    height: 2.5rem;
}

.post a{
  font-size: 1.25rem;
  line-height: 1.25;
  margin: 0.25rem 0rem;
}


#footer p {
  font-size: 0.8rem;
  color: #acacac;
  padding: 2rem 0rem;
}




/* //////////// media queries /////////////// */



/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

/* Styling */

}


/* Desktops and laptops ----------- */

@media only screen
and (min-width : 1224px) {

/* Styling */

    h1{
      font-size: 3rem;
      font-weight: 800;
    } 
    
    h2{
        font-size: 3rem;
    }
    
    p {
        font-size: 1.25rem;
    }
    
    .intro{
        max-width: 50%;
    }
    
    .experience{
     max-width: 50%;
    }
    
    .img-right{
        display:flex;
        flex-direction: row;
        row-gap:2rem;
    }
    
    .img-left{
        display:flex;
        flex-direction: row-reverse;
        row-gap:2rem;
    } 
    
    
    article{
        margin: 6rem auto;
    }
    
    article img{
        max-width: 54%;
    }
    
    article .description{
        max-width: 36%;
    padding: 0rem 3rem;
    }

    nav ul {
      display: flex;
      justify-content: space-between;
  }
    
    .icon{
    height: 4rem;
    }

}


/* iPads (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

/* Styles */
}



/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

/* Styling */
}



/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

/* Styling */
}




/* Large screens ----------- */

@media only screen
and (min-width : 1824px) {

/* Styles */

header{
        height: 12rem;
}
    
 h1{
    font-size: 5rem;
    font-weight: 800;
} 
    
h2{
    font-size: 2.5rem;
}
    
 h3 {
    font-size: 1.5rem;
 }
    
li, p {
  font-size: 1.25rem;
    line-height: 1.5;
}

 section{
    width: 50%;
}
   

  .view{
  min-height: 80vh;
  background-image: url();
}

    #intro {
    row-gap: 1.5rem;
/*    max-width: 60%;*/
    justify-content: center;
    align-items: start;
    }

    .intro-more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
    .intro-more div{
        width: 80%;
    }

    .socials li{
    font-size: 1rem;
    font-weight: 600;
    }


}


